.example-card {
    background-color: #3F0071;
    padding: 0;
    p{
        color: white;
        padding: 20px;
        font-size: 15px;
        text-align: justify;
    }
  }

.imgCard{
    height: 300px;
    width: 200px;
    position: relative;
}

.img-card{
    height: 500px;
    background-repeat: round;
    background-size: cover;
}

mat-card-header{
    padding: 5px;
    color: white;
    background-color: rgb(0, 0, 0,0.5);
}

.example-icon{
    background-color: white;
}