<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>{{apiMovieCard.title}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>{{apiMovieCard.overview}}</p>
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-icon-button  aria-label="Example icon-button with heart icon">
            <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button  aria-label="Example icon-button with heart icon">
            <mat-icon>add</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>