<div class="img-card" [ngStyle]="{ 'background-image' : 'url(https://image.tmdb.org/t/p/w500'+apiMovieCard.poster_path+')'}">
    <mat-card-header>
        <mat-card-title>{{apiMovieCard.title}}</mat-card-title>
    </mat-card-header>
</div>
<mat-card class="example-card">
    <mat-card-content>
        <p>{{apiMovieCard.overview}}</p>
    </mat-card-content>
    <div align="end">
        <button mat-icon-button class="example-icon" (click)="favorites()">
            <mat-icon *ngIf="service.checkFavorites(apiMovieCard.id)" style="color: red;">favorite</mat-icon>
            <mat-icon *ngIf="!service.checkFavorites(apiMovieCard.id)">favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" (click)="lists()">
            <mat-icon *ngIf="service.checkLists(apiMovieCard.id)" style="color: green;">check</mat-icon>
            <mat-icon *ngIf="!service.checkLists(apiMovieCard.id)">add</mat-icon>
        </button>
    </div>
</mat-card>