.example-card {
  min-width: 100px;
  min-height: 100px;
  float: left;
  height: 300px;
  width: 200px;
  margin-left: 10px;
  margin-bottom: 30px;
}

.img{
  margin-left: 2px;
  margin-right: 2px;
}

.title{
  background-color: #29014b;
  padding: 10px;
  margin-bottom: 10px;
}