  <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
          (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
      </button>
      <span>My App</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon>share</mat-icon>
      </button>
  </mat-toolbar>
<!-- Menu -->
<mat-drawer-container class="example-container">
  <mat-drawer #drawer class="example-sidenav" mode="side">
      <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"
          class="img-size-menu">
      <mat-list role="list">
          <mat-list-item role="listitem" routerLink='/pagina1' routerLinkActive="active">pagina1</mat-list-item>
          <mat-list-item role="listitem" routerLink="/pagina2" routerLinkActive="active">pagina2</mat-list-item>
          <mat-list-item role="listitem" routerLink="/pagina3" routerLinkActive="active">pagina3</mat-list-item>
          <mat-list-item role="listitem" routerLink="/pagina4" routerLinkActive="active">pagina4</mat-list-item>
      </mat-list>
  </mat-drawer>
  <mat-drawer-content style="padding: 20px;">
      <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>