@import '@angular/material/prebuilt-themes/indigo-pink.css';


.example-spacer {
    flex: 1 1 auto;
}

.example-container {
    width: auto;
    height: 100%;
    background-color: #3F0071;
}

.example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.example-sidenav {
    height: 100%;
    background-color: #000000;
}

.img-size-menu{
    width: auto;
    height: 130px;
    border-radius: 10px;
    margin: 10px;
}

.active {
    background-color: #3F0071; //29014b
}

.mat-toolbar{
    background-color: #000000;
    color: white;
}

.mat-drawer{
    .mat-list{
        .mat-list-item{
            color: white;
        }
    }
}